//FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*COLORS*/
    --primary: #F8F8FF;
    --primaryDark: #3B3B3B;
    --altPrimaryDark: #273036;
    --anchor: #0BA9BA;
    --anchorFaded: #48BFCB;
    --anchorDarkened: #087F8B;
    --faded: #666666;
    --gold: #E9BC35;

    /*SHADOWS*/
    --shadowOne: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    --shadowTwo: 0px 40px 33px -20px rgba(0, 0, 0, 0.19);
    --shadowThree: 10px 25px 44px 5px rgba(0, 0, 0, 0.05);
    --shadowFour: 10px 25px 44px 5px rgba(8, 127, 139, 0.5);

    /*CONTAINER WIDTHS*/
    --deskWidth: 83rem;
    --tabWidth: 65rem;
    --mobileWidth: 70rem;
}

html,
body {
    scroll-behavior: smooth !important;
}

body {
    overflow-x: hidden !important;
    background: var(--primary);
}





section.one {
    overflow: hidden !important;
    position: relative;
    background-color: var(--primary);
    // background: yellowgreen;
    width: 100vw;
    min-height: 110vh;
    height: auto;

    header {
        // background-color: var(--anchor);
        width: 100%;
        height: auto;
        position: relative;
        z-index: 300;


        .container {
            position: relative;
            max-width: var(--deskWidth);
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 3rem;
            z-index: 10;
            // background-color: green;

            nav {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // overflow: hidden;

                .logo {
                    height: 3.5rem;
                    cursor: pointer;

                    img {
                        height: 100%;
                    }
                }

                .links {

                    ul {
                        list-style: none;
                        display: flex;


                        li {
                            padding-left: 2.2rem;

                            a {
                                // text-transform: capitalize;
                                position: relative;
                                overflow-x: hidden !important;
                                text-transform: uppercase;
                                text-decoration: none;
                                font-family: "Poppins", sans-serif;
                                // letter-spacing: 0.5px;
                                transition: .3s;

                                .over {
                                    position: absolute;
                                    margin-top: 0.2rem;
                                    width: 100%;
                                    // background: green;
                                    overflow-x: hidden;


                                    .flow {
                                        width: 100%;
                                        transform: translateX(-101%);
                                        height: 2px;
                                        background: var(--primaryDark);
                                        transition: .45s;
                                    }
                                }
                            }

                            a:hover {
                                // color: var(--anchor);

                                .flow {
                                    background: var(--primaryDark);
                                    transform: translateX(0);
                                }
                            }

                            .is_active {
                                font-weight: 600;
                                font-size: 11px;
                                color: var(--primaryDark);

                                .over {
                                    position: absolute;
                                    margin-top: 0.2rem;
                                    width: 100%;
                                    // background: green;
                                    overflow-x: hidden;


                                    .flow {
                                        width: 100%;
                                        transform: translateX(0) !important;
                                        height: 2px;
                                        background: var(--anchor) !important;
                                        transition: .4s;
                                    }
                                }

                            }

                            .is_active:hover {
                                color: var(--anchor);
                            }

                            .not_active {
                                font-weight: 600;
                                font-size: 11px;
                                color: var(--altPrimaryDark);
                            }

                            .CNA {
                                position: relative;
                                background: var(--primary);
                                font-weight: 600;
                                font-size: 11px;
                                color: var(--anchor);
                                padding: 14px 20px;
                                border: 1px solid var(--anchor);
                                border-style: dashed;
                                transition: .3s;
                            }

                            .CNA:hover {

                                background-color: var(--anchor);
                                color: var(--primary);
                                border-style: solid;

                            }
                        }
                    }
                }

                .overlay {
                    display: none;
                }

                .burger {
                    // display: none;
                    display: flex;
                    position: absolute;
                    padding: 5px;
                    border-radius: 50%;
                    z-index: 99;
                    width: 2.45rem;
                    height: 2.45rem;
                    top: 0;
                    right: 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: .2s;
                    display: none;


                    .line {
                        position: relative;
                        width: 100%;
                        height: 3px;
                        background-color: var(--primaryDark);
                        border-radius: 3px;
                        transition: .2s;

                    }

                    .line::before {
                        transform: translateY(-8px);
                    }

                    .line::after {
                        transform: translateY(8px);
                    }

                    .line::before,
                    .line::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: var(--primaryDark);
                        border-radius: 3px;
                        transition: .3s;
                    }
                }
            }


        }


    }

    //HERO
    .hero {
        position: relative;
        max-width: var(--deskWidth);
        width: 100%;
        margin: 20px auto;
        padding: 0 4rem;
        height: 75vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 6;
        // background-color: var(--anchor);

        .left {
            width: 43%;
            height: 100%;
            // background-color: yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;


            h1 {
                // font-family: "Bebas Neue";
                font-family: "Bebas Neue";
                text-transform: capitalize;
                color: var(--altPrimaryDark);
                font-size: 40px;

            }

            p {
                margin-top: 20px;
                font-family: "Poppins";
                color: var(--altPrimaryDark);
                font-weight: 500;
                font-size: 14px;
            }

            button {
                margin-top: 50px;
                outline: 0;
                border: 0;
                background: transparent;
                color: var(--altPrimaryDark);
                border: 1px solid var(--altPrimaryDark);
                border-style: dashed;
                width: 40%;
                padding: 18px 26px;
                cursor: pointer;
                text-transform: capitalize;
                letter-spacing: 0.5px;
                font-family: "Poppins", sans-serif;
                font-size: 13px;
                font-weight: 600;
                transition: .4s;
            }

            button:hover {
                background: var(--altPrimaryDark);
                color: var(--primary);
                box-shadow: var(--shadowOne);
                border-style: solid;
            }


        }

        .right {
            padding: 10px;
            width: 57%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: red;

            .rec {
                width: 100%;
            }

            .war {
                width: 100%;
                display: none;
            }
        }
    }

    .blob {
        position: absolute;
        width: 700px;
        opacity: 0.1;
        z-index: 5;
        transform: rotate(-30deg);
        bottom: -50px;
        left: -375px;
    }

    .blob2 {
        display: none;
        position: absolute;
        width: 700px;
        opacity: 0.1;
        z-index: 5;
        // transform: rotate(-30deg);
        top: -200px;
        right: -350px;
    }
}

//SECTION ACTIVE CLASS
.one.brg_active {

    .overlay {
        opacity: 1;
        pointer-events: all;
    }

    .burger {
        // box-shadow: var(--shadowOne);
        display: none;

        .line {
            background-color: transparent !important;
        }

        .line::before {
            transform: translateY(0) rotate(-45deg) !important;
        }

        .line::after {
            transform: translateY(0) rotate(45deg) !important;
        }
    }

    .links {
        transform: translateX(0);
    }
}

// .one.brg_active~body {
//     position: fixed !important;
// }

.middle {
    // display: none !important;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: var(--anchor);

    .mid-button {

        margin-top: 50px;
        outline: 0;
        border: 0;
        background: transparent;
        color: var(--primary);
        border: 1px dashed var(--primary);
        // width: 40%;
        padding: 18px 26px;
        cursor: pointer;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        font-weight: 600;
        // padding-left: 0px;
        transition: .4s;


        i {
            margin-left: 10px;
            // transform: translateX(-40px);
            // opacity: 0;
            // transition: .2s ease-in-out;
        }
    }

    .mid-button:hover {
        padding: 18px 26px;
        border: 1px dashed var(--altPrimaryDark);
        // width: 40%;
        padding: 18px 26px;
        background: var(--altPrimaryDark);
        color: var(--anchor);
        box-shadow: var(--shadowOne);

        i {
            // transform: translateX(0);
            // opacity: 1;

            animation: L-R 0.5s alternate ease-in-out infinite;
        }
    }

    .top_wv {

        width: 100%;

        svg {
            width: 100%;
        }
    }

    .mid {
        position: relative;
        padding: 50px;
        margin-top: 30px;
        width: 100%;
        // height: 100vh;
        background: var(--anchor);
        // background: grey;

        .container {
            max-width: var(--deskWidth);
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            margin-bottom: 150px;

            .left {
                width: 40%;
                height: 100%;
                padding: 50px;

                .line_top {
                    height: 3px;
                    width: 30px;
                    background: var(--gold);
                    border-radius: 5px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: "Bebas Neue", sans-serif;
                    color: var(--altPrimaryDark);
                    // color: var(--gold);
                    font-size: 20px;
                    letter-spacing: 2px;
                    // padding: 8px;
                    // border: 1px dashed var(--altPrimaryDark);
                    // background: var(--altPrimaryDark);
                    // color: var(--anchor);
                    // box-shadow: var(--shadowOne);
                    // width: 100px;


                }

                .sub-title {
                    // font-family: "Poppins", sans-serif;
                    font-family: "Lato", sans-serif;
                    color: var(--primary);
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-top: 10px;
                }

                .txt {
                    margin-top: 60px;
                    color: var(--primary);
                    font-family: "Poppins", sans-serif;
                    font-size: 12px;
                    font-weight: 600;

                    line-height: 28px;
                    // text-align: justify;

                    span {
                        margin: 0px 2px;
                        font-weight: 800;
                        color: var(--gold);
                        padding: 3px;
                        border: 1px dashed var(--altPrimaryDark);
                        background: var(--altPrimaryDark);
                        color: var(--anchor);
                        box-shadow: var(--shadowOne);
                    }
                }
            }

            .rev_left {
                width: 40%;
                height: 100%;
                padding: 50px;
                text-align: right;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .line_top {
                    height: 3px;
                    width: 30px;
                    background: var(--gold);
                    border-radius: 5px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: "Bebas Neue", sans-serif;
                    color: var(--altPrimaryDark);
                    // color: var(--gold);
                    font-size: 20px;
                    letter-spacing: 2px;
                    // padding: 8px;
                    // border: 1px dashed var(--altPrimaryDark);
                    // background: var(--altPrimaryDark);
                    // color: var(--anchor);
                    // box-shadow: var(--shadowOne);
                    // width: 100px;


                }

                .sub-title {
                    // font-family: "Poppins", sans-serif;
                    font-family: "Lato", sans-serif;
                    color: var(--primary);
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-top: 10px;
                }

                .txt {
                    margin-top: 60px;
                    color: var(--primary);
                    font-family: "Poppins", sans-serif;
                    font-size: 12px;
                    font-weight: 600;

                    line-height: 28px;
                    // text-align: justify;

                    span {
                        margin: 0px 2px;
                        font-weight: 800;
                        color: var(--gold);
                        padding: 3px;
                        border: 1px dashed var(--altPrimaryDark);
                        background: var(--altPrimaryDark);
                        color: var(--anchor);
                        box-shadow: var(--shadowOne);
                    }
                }
            }

            .right {
                position: relative;
                overflow: hidden;
                top: 0;
                width: 50%;
                height: 100%;
                // margin-left: 25px;
                // border: 3px dashed rgba(82, 6, 6, 0.1);
                border-radius: 10px;
                padding: 50px;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;

                img {
                    // padding-top: 50px;
                    width: 100%;
                    height: auto;
                }

                // border-left: none;
            }

            .features {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                // background-color: var(--faded);

                h3 {
                    font-family: "Bebas Neue", sans-serif;
                    color: var(--altPrimaryDark);
                    font-size: 20px;
                    letter-spacing: 2px;
                }

                .sub-title {
                    // font-family: "Poppins", sans-serif;
                    font-family: "Poppins", sans-serif;
                    color: var(--primary);
                    font-size: 22px;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin-top: 10px;
                    width: 300px;
                    text-align: center;
                }

                .line_top {
                    height: 3px;
                    width: 30px;
                    background: var(--gold);
                    border-radius: 5px;
                    margin-top: 20px;
                    margin-bottom: 0px;
                }

                .f_row {
                    margin-top: 40px;
                    display: flex;
                    justify-content: space-between;
                    // background-color: var(--gold);
                    // padding: 5px;

                    .f_col {
                        width: 290px;
                        height: 350px;
                        margin: 0 25px;
                        // border: 2px dashed rgba(0, 0, 0, 0.08);
                        border-radius: 10px;
                        padding: 35px;
                        overflow: hidden;
                        box-shadow: var(--shadowThree);
                        display: flex;
                        flex-direction: column;
                        // align-items: center;
                        transition: .4s;

                        h4 {
                            font-family: "Poppins", sans-serif;
                            color: var(--primary);
                            font-size: 15px;
                            font-weight: 500;
                            text-transform: capitalize;
                            // text-align: center;
                        }

                        p {
                            margin-top: 10px;
                            font-family: "Poppins", sans-serif;
                            color: var(--primary);
                            font-size: 10px;
                            font-weight: 500;
                            text-transform: capitalize;
                        }

                        img {
                            margin-top: 25px;
                            width: 100px;
                            // text-align: center;
                        }

                        .line {
                            margin-top: 100px;
                            height: 2px;
                            width: 30px;
                            background: var(--gold);
                            border-radius: 5px;
                        }

                        a {
                            margin-top: 10px;
                            font-family: "Poppins", sans-serif;
                            color: var(--primary);
                            font-weight: 500;
                            font-size: 12px;
                            text-decoration: none;
                            text-transform: capitalize;

                            i {
                                margin-left: 5px;
                                font-size: 10px;
                                animation: L-R 0.5s alternate ease-in-out infinite;
                            }
                        }
                    }

                    .f_col:hover {
                        transform: translateY(-5px);
                        box-shadow: var(--shadowFour);
                        background: var(--primary);
                        // border: 2px dashed var(--altPrimaryDark);

                        h4 {
                            color: var(--altPrimaryDark);
                        }

                        a {
                            color: var(--altPrimaryDark);
                        }
                    }

                    .f_active {
                        background: var(--altPrimaryDark);
                        box-shadow: var(--shadowFour);
                        transform: translateY(-5px);
                        width: 290px;
                        height: 340px;
                        margin: 0 25px;
                        border-radius: 10px;
                        padding: 35px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;


                        h4 {
                            font-family: "Poppins", sans-serif;
                            color: var(--primary);
                            font-size: 15px;
                            font-weight: 500;
                            text-transform: capitalize;
                        }

                        img {
                            margin-top: 25px;
                            wid: 120px;
                            margin-bottom: 30px;
                        }

                    }
                }
            }

        }

    }



    .bottom_wv {
        width: 100%;
        background-color: var(--primary);

        svg {
            width: 100%;
        }
    }

}

.bottom {
    // display: none !important;
    width: 100vw;

    footer {
        background: var(--primary);
        overflow-x: hidden;
        width: 100%;

        .container {
            max-width: var(--deskWidth);
            width: 100%;
            margin: 0 auto;
            padding: 3rem;
            padding-bottom: 0 !important;

            .upper {
                width: 100%;
                padding: 30px;
                display: flex;
                // height: 400px;
                // background: var(--primaryDark);

                .left {
                    display: flex;
                    width: 60%;
                    // background: var(--anchor);


                    .section {
                        margin-right: 80px;

                        h2 {
                            text-transform: capitalize;
                            font-family: "Poppins", sans-serif;
                            color: var(--faded);
                            font-weight: 600;
                            font-size: 20px;
                        }

                        ul {
                            margin-top: 30px;
                            list-style: none;

                            li {
                                padding: 5px 0;
                                display: flex;
                                // border: 1px dashed red;
                                align-items: center;
                                overflow-y: hidden;

                                .hover_bar {
                                    width: 2px;
                                    height: 10px;
                                    background: none;
                                    transition: .3s;
                                }

                                a {
                                    margin-right: 7px;
                                    text-transform: capitalize;
                                    // text-transform: uppercase;
                                    text-decoration: none;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 12px;
                                    color: var(--faded);
                                    // font-weight: 600;
                                }

                                a:hover+.hover_bar {
                                    background: var(--anchorFaded);
                                }
                            }
                        }
                    }

                }

                .right {
                    // background: rgba(161, 87, 87, 0.02);
                    position: relative;
                    width: 40%;
                    height: 250px;
                    border: 1px dashed var(--primaryDark);
                    border-radius: 10px;
                    overflow: hidden;
                    padding: 30px;
                    display: flex;
                    justify-content: space-between;

                    .lg {
                        height: 150%;
                        opacity: 0.05;
                        position: absolute;
                        bottom: -75%;
                        right: -30%;
                        z-index: 5;

                    }

                    .r_left {
                        height: 100%;
                        width: 30%;
                        // background: var(--gold);
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }

                    .r_right {
                        position: relative;
                        z-index: 10;
                        height: 100%;
                        width: 65%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // align-items: center;
                        // background: var(--gold);

                        form {
                            width: 100%;
                            // background: var(--gold);
                            display: flex;
                            justify-content: space-between;

                            input {
                                outline: 0;
                                border: 0;
                                font-family: "Poppins", sans-serif;
                                font-size: 12px;
                            }

                            input[type="email"] {
                                // background: rgb(19, 148, 19);
                                border: 1px dashed var(--faded);
                                background: transparent;
                                padding: 10px;
                                width: 85%;
                                border-radius: 5px 0 0 5px;
                                border-right: none;
                                transition: .4s;
                            }

                            input[type="email"]:focus {
                                border: 1px dashed var(--anchor);
                                border-right: none;
                            }

                            input[type="email"]:focus~button {
                                border: 1px dashed var(--anchor);
                                border-left: none;
                                color: var(--anchor);
                            }

                            // input[type="submit"] 
                            button {
                                width: 15%;
                                padding: 10px 0;
                                border: 1px dashed var(--faded);
                                background: transparent;
                                border-left: none;
                                border-radius: 0 5px 5px 0;
                                color: var(--faded);
                                cursor: pointer;
                                transition: .4s;
                            }
                        }

                        .txt {

                            h3 {
                                padding-top: 20px;
                                color: var(--anchor);
                                font-family: "Poppins", sans-serif;
                                text-transform: capitalize;
                                font-weight: 700;
                                font-size: 20px;
                                text-align: right;

                                // span {
                                //     color: var(--gold);
                                // }
                            }

                            p {
                                padding-top: 10px;
                                color: var(--faded);
                                font-family: "Poppins", sans-serif;
                                text-transform: capitalize;
                                font-weight: 500;
                                font-size: 12px;
                                text-align: right;
                            }
                        }
                    }
                }
            }

            .mid {
                width: 100%;
                padding: 0 30px;

                .line {
                    width: 100%;
                    height: 1px;
                    background: var(--faded);
                    opacity: 0.2;
                }
            }

            .lower {
                margin-top: 20px;
                width: 100%;
                padding: 30px;
                // background: var(--anchor);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    width: 110px;

                    img {
                        height: 100%;
                        fill: var(--primaryDark) !important;
                    }

                }

                .copy {

                    p {
                        text-transform: uppercase;
                        font-family: "Poppins", sans-sarif;
                        font-size: 12px;
                        // font-weight: 600;
                        color: var(--faded);
                    }
                }

                .socials {

                    ul {
                        display: flex;
                        list-style: none;

                        li {
                            padding: 0 15px;

                            a {
                                font-size: 16px;
                                font-size: 14px;
                                color: var(--faded);
                                position: relative;
                                overflow-x: hidden !important;

                                .over {
                                    position: absolute;
                                    margin-top: 0.5rem;
                                    width: 100%;
                                    // background: green;
                                    overflow-y: hidden;


                                    .flow {
                                        width: 100%;
                                        transform: translateY(101%);
                                        height: 3px;
                                        // background: var(--anchor) !important;
                                        transition: .4s;
                                    }
                                }
                            }

                            a:hover {
                                // color: var(--anchor);

                                .flow {
                                    // background: var(--primaryDark);
                                    transform: translateY(0) !important;
                                    // border-radius: 0 0 3px 3px;
                                }
                            }

                            ;
                        }
                    }
                }
            }
        }
    }
}

/* ANIMATION KEYFRAMES */
@keyframes floating {
    0% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

@keyframes L-R {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(2px);
    }


}

.levitate {
    animation: floating 1s alternate ease-in-out infinite;
}







@media screen and (max-width: 1190px) and (min-width: 831px) {

    .bottom {

        .upper {

            flex-direction: column;

            .left {
                width: 100% !important;
                margin-bottom: 50px;
            }

            .right {
                width: 100% !important;
                // border-left: none !important;
                // border-right: none !important;
                // border-radius: 0 !important;
                height: 500px !important;
                justify-content: center !important;

                .r_left {
                    width: 30% !important;
                    padding: 50px;
                }

                .r_right {
                    padding: 50px;
                    width: 55% !important;
                    align-items: center !important;

                    .txt {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h3,
                        p {
                            text-align: center !important;
                        }

                        h3 {
                            font-size: 30px !important;
                        }
                    }
                }
            }
        }
    }

    .hero {
        flex-direction: column;

        .left {
            width: 75% !important;

            h1 {
                margin-bottom: 5px !important;
            }

            p {
                margin-bottom: 15px !important;
            }

        }

        .right {
            width: 75% !important;

            .rec {
                display: none;
            }

            .war {
                display: block !important;
            }
        }
    }

    .blob {
        left: -280px !important;
    }

    .blob2 {
        display: block !important;
    }

    .container {
        margin-top: 3rem;
        max-width: var(--tabWidth);

        .overlay {
            display: block !important;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            pointer-events: none;
            transition: .5s;
        }

        .burger {
            display: flex !important;

        }

        .links {
            overflow-y: scroll;
            position: fixed;
            top: 0;
            right: 0;
            max-width: 450px;
            width: 100%;
            height: 100%;
            transform: translateX(100%);
            background-color: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 95;
            // transform: translateX(100%);
            box-shadow: var(--shadowOne);
            transition: .5s;

            ul {
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 50%;
                width: 100%;

                li {
                    padding: 0 !important;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;

                    a {
                        display: flex;
                        justify-content: center;
                        padding: 20px 0 !important;
                        width: 100%;
                        font-size: 20px !important;
                        font-weight: 600;

                        .over {
                            display: none !important;
                        }
                    }

                    .is_active {
                        font-weight: 600;
                        font-size: 12.5px;
                        color: var(--anchor) !important;
                    }

                    // .not_active {}

                    .CNA {
                        margin-top: 50px;
                        background-color: var(--anchor) !important;
                        color: var(--primary) !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 830px) and (min-width: 701px) {

    .bottom {

        .upper {

            flex-direction: column;

            .left {
                width: 100% !important;
                margin-bottom: 50px;
            }

            .right {
                width: 100% !important;
                height: 500px !important;
                justify-content: center !important;

                .r_left {
                    width: 35% !important;
                    padding: 50px;
                }

                .r_right {
                    padding: 50px;
                    width: 65% !important;
                    align-items: center !important;

                    .txt {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h3,
                        p {
                            text-align: center !important;
                        }

                        h3 {
                            font-size: 30px !important;
                        }
                    }
                }
            }
        }
    }

    .hero {
        flex-direction: column;

        .left {
            width: 75% !important;

            h1 {
                margin-bottom: 5px !important;
            }

            p {
                margin-bottom: 15px !important;
            }

        }

        .right {
            width: 75% !important;

            .rec {
                display: none;
            }

            .war {
                display: block !important;
            }
        }
    }

    .blob {
        left: -280px !important;
    }

    .blob2 {
        display: block !important;
    }

    .container {
        margin-top: 3rem;
        max-width: var(--tabWidth);

        .overlay {
            display: block !important;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            pointer-events: none;
            transition: .5s;
        }

        .burger {
            display: flex !important;

        }

        .links {
            overflow-y: scroll;
            position: fixed;
            top: 0;
            right: 0;
            max-width: 450px;
            width: 100%;
            height: 100%;
            transform: translateX(100%);
            background-color: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 95;
            // transform: translateX(100%);
            box-shadow: var(--shadowOne);
            transition: .5s;

            ul {
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 50%;
                width: 100%;

                li {
                    padding: 0 !important;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;

                    a {
                        display: flex;
                        justify-content: center;
                        padding: 20px 0 !important;
                        width: 100%;
                        font-size: 20px !important;
                        font-weight: 600;

                        .over {
                            display: none !important;
                        }
                    }

                    .is_active {
                        font-weight: 600;
                        font-size: 12.5px;
                        color: var(--anchor) !important;
                    }

                    // .not_active {}

                    .CNA {
                        margin-top: 50px;
                        background-color: var(--anchor) !important;
                        color: var(--primary) !important;
                    }
                }
            }
        }
    }
}


@media all and (max-width: 700px) and (min-width: 550px) {
    .container {
        max-width: var(--mobileWidth) !important;

        .overlay {
            display: block !important;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            pointer-events: none;
            transition: .5s;
        }
    }

    .hero {
        flex-direction: column;


        .left {
            width: 100% !important;

            h1 {
                margin-bottom: 5px !important;
            }

            p {
                margin-bottom: 15px !important;
            }

        }

        .right {
            width: 75% !important;

            .rec {
                display: none;
            }

            .war {
                display: block !important;
            }
        }
    }

    .blob {
        left: -280px !important;
    }

    .blob2 {
        display: block !important;
    }

    .links {
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 95;
        // transform: translateX(100%);
        box-shadow: var(--shadowOne);
        transition: .5s;

        ul {
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 50%;
            width: 100%;

            li {
                padding: 0 !important;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;

                a {
                    display: flex;
                    justify-content: center;
                    padding: 20px 0 !important;
                    width: 100%;
                    font-size: 20px !important;
                    font-weight: 600;

                    .over {
                        display: none !important;
                    }
                }

                .is_active {
                    font-weight: 600;
                    font-size: 12.5px;
                    color: var(--anchor) !important;
                }

                // .not_active {}

                .CNA {
                    margin-top: 50px;
                    background-color: var(--anchor) !important;
                    color: var(--primary) !important;
                }
            }
        }
    }

    .burger {
        display: flex !important;

    }

    .bottom {

        .upper {

            flex-direction: column;

            .left {
                width: 100% !important;
                margin-bottom: 50px;
                // background: var(--gold);
                // flex-direction: column !important;

                // .section{
                //     margin-bottom: 60px;
                // }
            }

            .right {
                // padding: 30px !important;
                width: 100% !important;
                display: flex !important;
                flex-direction: column !important;
                justify-content: center !important;
                align-items: center !important;
                height: 550px !important;
                margin-bottom: 20px !important;

                .r_left {
                    width: 50% !important;
                    // background: green;
                    padding: 30px;
                }

                .r_right {
                    // background: var(--gold);
                    padding: 30px;
                    width: 100% !important;
                    align-items: center !important;

                    .txt {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h3,
                        p {
                            text-align: center !important;
                        }

                        h3 {
                            font-size: 30px !important;
                            margin-top: 10px;
                        }

                        p {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }

        .lower {
            flex-direction: column !important;
            height: 300px;
            justify-content: space-evenly !important;
            align-items: center !important;

            .logo {
                // background: var(--gold);
                display: flex !important;
                justify-content: center !important;
            }
        }
    }


}

@media screen and (max-width: 549px) {

    .one {
        height: 120vh !important;
    }

    .container {
        max-width: var(--mobileWidth) !important;

        .overlay {
            display: block !important;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            pointer-events: none;
            transition: .5s;
        }
    }

    .hero {
        flex-direction: column;
        align-items: center;

        .left {
            width: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            text-align: center !important;

            h1 {
                margin-bottom: 5px !important;
            }

            p {
                margin-bottom: 15px !important;
            }

            button {
                width: 100% !important;
            }

        }

        .right {
            margin-top: 30px !important;
            width: 100% !important;

            .rec {
                display: none;
            }

            .war {
                display: block !important;
            }
        }
    }

    .blob {
        left: -480px !important;
        bottom: -600px;
    }

    .blob2 {
        display: block !important;
        right: -480px !important;
        top: -600px;
    }

    .links {
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 95;
        // transform: translateX(100%);
        box-shadow: var(--shadowOne);
        transition: .5s;

        ul {
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 50%;
            width: 100%;

            li {
                padding: 0 !important;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;

                a {
                    display: flex;
                    justify-content: center;
                    padding: 20px 0 !important;
                    width: 100%;
                    font-size: 20px !important;
                    font-weight: 600;

                    .over {
                        display: none !important;
                    }
                }

                .is_active {
                    font-weight: 600;
                    font-size: 12.5px;
                    color: var(--anchor) !important;
                }

                // .not_active {}

                .CNA {
                    margin-top: 50px;
                    background-color: var(--anchor) !important;
                    color: var(--primary) !important;
                }
            }
        }
    }

    .burger {
        display: flex !important;

    }

    .bottom {

        .container {
            // background: var(--gold);
            padding: 0px !important;
        }

        .upper {

            flex-direction: column;

            .left {
                width: 100% !important;
                margin-bottom: 50px;
                // background: var(--gold);
                flex-direction: column !important;
                align-items: center !important;

                .section {
                    // background: var(--gold);
                    width: 100% !important;
                    margin-bottom: 20px;
                    margin-right: 0 !important;
                    padding: 10px;
                    // border: 1px dotted var(--anchorFaded);
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;

                    ul {
                        text-align: center !important;
                        display: flex !important;
                        flex-direction: column !important;
                        align-items: center !important;
                    }

                    h2 {
                        margin-bottom: 10px !important;
                        color: var(--anchorFaded) !important;
                    }

                    a {
                        font-size: 16px !important;
                        margin-bottom: 10px;
                    }
                }
            }

            .right {
                // padding: 30px !important;
                width: 100% !important;
                display: flex !important;
                flex-direction: column !important;
                justify-content: center !important;
                align-items: center !important;
                height: 450px !important;
                margin-bottom: 20px !important;

                .r_left {
                    width: 50% !important;
                    // background: green;
                    padding: 30px;
                }

                .r_right {
                    // background: var(--gold);
                    padding: 5px;
                    width: 100% !important;
                    align-items: center !important;
                    justify-content: center !important;

                    .txt {
                        display: flex !important;
                        flex-direction: column !important;
                        align-items: center !important;

                        h3,
                        p {
                            text-align: center !important;
                        }

                        h3 {
                            font-size: 25px !important;
                            margin-top: 10px;
                        }

                        p {
                            margin-top: 5px;
                            font-weight: 600 !important;
                        }
                    }
                }
            }
        }

        .lower {
            flex-direction: column !important;
            height: 300px;
            justify-content: space-evenly !important;
            align-items: center !important;

            .logo {
                // background: var(--gold);
                display: flex !important;
                justify-content: center !important;
            }
        }
    }
}







//SCROLL ITEMS

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}